<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" th:href="@{/bootstrap/css/footer.css}">
    <link rel="stylesheet" th:href="@{/bootstrap/css/header.css}">
    <link rel="stylesheet" type="text/css" th:href="@{/bootstrap/css/bootstrap-grid.min.css}" />
    <link type="text/css" th:href="@{/bootstrap/css/style.css}" rel="stylesheet" />
    <script th:src="@{/js/jquery-3.4.1.min.js}"></script>
    <title>解决方案</title>
    <script>
        var pagenum=0;
        var item=[];
        var arr=[];
        var allpages=0;
        $(window).load(showGoods(pagenum));
                function showGoods(aaa){
                    $.ajax({
                url: "/yinxin/host/getImgAndCharactorByDistinction?Imgdistinction=project&page="+aaa,
                type: "GET",
                dataType: "json",
                success: function(result) {
                    item=result.alldata;
                    allpages=parseInt(result.pagetotals);
                    for(var i=0;i<item.length;i++){
                        arr=item[i].charactor.ttext.split('&');
                $(".nei-rong").append("<div class=\"row\">"
                +"<div class=\"col-md-3\">"
                    +"<img src="+item[i].imgurl + " alt="+"图片暂时加载不出来哦"+">"
                +"</div>"
                +"<div class=\"col-md-8\">"
                    +"<h3>"+arr[0]+"</h3>"
                    +"<p>"+arr[1]+"</p>"
                +"</div>"
            +"</div>"
                );
            }
                }
        });
        pagenum++;
        if(pagenum===allpages+1){
            $("#jiazai").html('没有了')
        }
    }
    </script>
</head>
<body>
    <div class="yx_header">
        <a th:href="@{/}">
            <img class="yx_logo" th:src="@{/images/yx_log.png}" alt="">
            <p>银信金服</p>
        </a>
        <ul>
            <li><a th:href="@{/}">首页</a></li>
            <li><a th:href="@{/profile}">公司简介</a></li>
            <li><a th:href="@{/news}">新闻动态</a></li>
            <li><a th:href="@{/solution}">解决方案</a></li>
            <li><a th:href="@{/about}">关于我们</a></li>
        </ul>
    </div>
    <div>
        <img th:src="@{/images/solve.png}" style="width: 100%;margin: 0;padding: 0;" alt="">
    </div>
    <div class="nei-rong">
            
        
    </div>
    <center>
        <div id="jiazai" class="jiazai btn btn-default" onclick="showGoods(pagenum)">加载更多</div>
    </center>
    
    <div class="footer">
        <div class="footer_left">
            <div>
                <h3>解决方案</h3>
                <ul>
                    <li><a th:href="@{/solution}">资产管理系统</a></li>
                    <li><a th:href="@{/solution}">档案管理系统</a></li>
                    <li><a th:href="@{/solution}">大堂经理外包</a></li>
                </ul>
            </div>
            <div>
                <h3>关于公司</h3>
                <ul>
                    <li><a th:href="@{/profile}">公司简介</a></li>
                    <li><a href="javascript:;">人才招聘</a></li>
                    <li><a th:href="@{/about}">关于我们</a></li>
                </ul>
            </div>
            <div>
                <h3>其他</h3>
                <ul>
                    <li><a th:href="@{/news}">新闻动态</a></li>
                </ul>
            </div>
        </div>
        <div class="footer_right">
            <h3>银信(成都)金融服务外包责任有限公司</h3>
            <span>位置：</span><span>四川·成都·武侯区·人民南路四段</span><br>
            <span>地址：</span><span>嘉云台-乙栋16楼A座</span><br>
            <span>电话：</span><span>028-8559 5020</span><br>
        </div>
    </div>
    <p class="shenming">©银信(成都)金融服务外包有限公司 Copyright(C)2019-2020</p>
</body>
</html>