<!DOCTYPE html>
<html lang="en"  xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>layui测试</title>

    <link rel="stylesheet" th:href="@{/layui/css/layui.css}"  media="all">
</head>
<script th:src="@{/layui/layui.js}" charset="utf-8"></script>
<script th:src="@{/zhu/jquery-3.0.0/jquery-3.0.0.js}"></script>
<body>
<div>
<ul class="layui-nav" lay-filter="test">
    <li class="layui-nav-item ">
        <a href="javascript:;">添加</a>
        <dl class="layui-nav-child">
            <dd><a href="javascript:;" onclick="addData(0)">添加主页轮播图片</a></dd>
            <dd><a href="javascript:;">添加主页展示小图片和文字</a></dd>
            <dd><a href="">添加新闻动态内容</a></dd>
            <dd><a href="">添加解决方案内容</a></dd>
            <dd><a href="">添加公司简介文字内容</a></dd>
        </dl>
    </li>
    <li class="layui-nav-item">
        <a href="javascript:;">删除</a>
        <dl class="layui-nav-child">
            <dd><a href="">移动模块</a></dd>
            <dd><a href="">后台模版</a></dd>
            <dd><a href="">电商平台</a></dd>
        </dl>
    </li>
    <li class="layui-nav-item">
        <a href="javascript:;">修改</a>
        <dl class="layui-nav-child">
            <dd><a href="">移动模块</a></dd>
            <dd><a href="">后台模版</a></dd>
            <dd><a href="">电商平台</a></dd>
        </dl>
    </li>
</ul>
</div>
<div style="width: 100%;height: 800px" id="sell"></div>

</body>
<script>
    layui.use('element', function(){
        var element = layui.element;
    });
    
    function addData(data) {
        switch (data) {
            case 0:$("#sell").html();
            break;
        }
    }
    
</script>
</html>