<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>后台管理页面</title>
</head>

<body>
<div style="margin: 0 auto;width: 500px;height: 500px">
    <div style="height: 100px;width: 400px"><ul style="text-align: center">后台管理员界面</ul></div>
    <div style="height: 100px;width: 400px"><a th:href="@{/login/addhomeimg}">首页图片添加</a> </div>
    <div style="height: 100px;width: 400px"><a th:href="@{/login/addchractor}">公司简介内容添加</a></div>
    <div style="height: 100px;width: 400px"><a th:href="@{/login/onlyaddimg}">公司资质图片添加</a></div>
    <div style="height: 100px;width: 400px"><a th:href="@{/login/xinwenaddImgAndCharactor}">新闻模块图片和文字的添加</a> </div>
    <div style="height: 100px;width: 400px"><a th:href="@{/login/projectAddCharactorAndImg}">解决方案图片和文字的添加</a> </div>
    <div style="height: 100px;width: 400px"><a th:href="@{/login/addHome_imgAndCharactor}">首页下方图片+文字添加</a></div>
    <div style="height: 100px;width: 400px"><a th:href="@{/login/addpartner}">首页下方合作伙伴，图片+文字添加</a></div>
    <div style="height: 100px;width: 400px"><a th:href="@{/login/deletehomeimg}">首页图片删除</a> </div>
    <div style="height: 100px;width: 400px"><a th:href="@{/login/deleteCharactorById}">文字删除</a> </div>
    <div style="height: 100px;width: 400px"><a th:href="@{/login/deleteCharactorAndImgById}">图片和文字删除</a> </div>
</div>







</body>

</html>