<!DOCTYPE html>
<html  xmlns="http://www.w3.org/1999/xhtml"
       xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<script th:src="@{/jquery/jquery-3.0.0/jquery-3.0.0.js}"></script>
<body>

<!--<h5>&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;添加主页图片&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;</h5>
    <form th:action="@{/host/addHome_Img}" method="post" enctype="multipart/form-data">
      图片：  <input type="file" name="file" onchange="verificationPicFile(this)"><br>
        <input type="hidden" name="directory" value="master"><br>
        <input type="submit" value="上传">
    </form>

<h5>&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;单独图片添加，需要输入标识符-&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;</h5>
<form th:action="@{/host/onlyAddImg}" method="post" enctype="multipart/form-data">
    单独图片：  <input type="file" name="file" onchange="verificationPicFile(this)"><br>
    单独图片的保存目录：<input type="text" name="img_distinction"><br>
    <input type="submit" value="上传">
</form>


<h5>&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;只添加文字&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;</h5>

    <form th:action="@{/host/addCharactor}" method="post">
        文字 ：<input type="text" name="text"><br>
       文字的标识符： <input type="text" name="text_distinction">
        <input type="submit" value="上传">
    </form>

<h5>分隔线-&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;文字+图片添加&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;</h5>
    <form th:action="@{/host/addImg_Charactor}" method="post" enctype="multipart/form-data">
        图片：  <input type="file" name="file" onchange="verificationPicFile(this)"><br>
        图片保存的目录：<input type="text" name="img_directory" ><br>
        图片的标识符：<input type="text" name="Imgdistinction" ><br>
        <input type="text" name="Ttext"><br>
        文字的标识符：<input type="text" name="Tdistinction">
        <input type="submit" value="上传">
    </form>-->

    <h5>-&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;获取指定标识符的文字数据&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;</h5>
    <form th:action="@{/host/getText}" method="get">
      获取该标识符的文字数据：  <input type="text" name="text_distinction">
        <input type="submit" value="获取文字数据">
    </form>

<h5>----------------------------------获取首页图片信息------------------------------------------------</h5>
<form th:action="@{/host/getHomeImg}" method="get">
    <input type="submit" value="获取首页图片信息">
</form>


<!--<h5>&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;根据唯一标识符，获取只有的图片数据&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;</h5>

<form th:action="@{/host/getOnlyImg}" method="get">
    输入图片标识符：<input type="text" name="img_distinction">
    <input type="submit" value="获取指定标识符的图片信息">
</form>-->




<h5>-------------------------------------获取分页的图片对应文字的数据------------------------------------------------------</h5>
    <form th:action="@{/host/getImgAndCharactorByDistinction}">
      唯一标识符：  <input name="Imgdistinction" type="text"><br>
        获取当前页数：<input name="page" type="text"><br>
        <input type="submit" value="获取">
    </form>


   <!-- <h5>&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;指定首页图片id删除图片-&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;</h5>
    <form th:action="@{/host/deleteHomeImgById}" method="post">
       输入要删除的首页图片id <input type="text" name="homeImg_id"><br>
        <input type="submit" value="删除">
    </form>


<h5>&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;指定图片id，数组集合，删除图片和文字-&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;</h5>
输入要删除的图片id 1：<input id="img_id1" type="text"><br>
输入要删除的图片id 2：<input id="img_id2" type="text"><br>
输入要删除的图片id 3：<input id="img_id3" type="text"><br>
<button  onclick="deleteimgs()">删除</button>-->

<h3>------------------------------------------------------------------------------------------------------------</h3>

</body>
<script>
    function deleteimgs() {
        var imgids = new Array();
        imgids.push($("#img_id1").val());
        imgids.push($("#img_id2").val());
        imgids.push($("#img_id3").val());
        console.log(imgids);
        $.ajax({
            url:"/yinxin/host/deleteImgAndCharactorById",
            type:"post",
            dataType:"json",
            data:{"imgIds":imgids},
            success:function (data) {
                alert(data.message)
            }
        })
    }

    function verificationPicFile(file) {
        var fileSize = 0;
        var fileMaxSize = 1024;//1M
        var filePath = file.value;
        if(filePath){
            fileSize =file.files[0].size;
            var size = fileSize / 1024;
            if (size > fileMaxSize) {
                alert("文件大小不能大于1M！");
                file.value = "";
                return false;
            }else if (size <= 0) {
                alert("文件大小不能为0M！");
                file.value = "";
                return false;
            }
        }else{
            return false;
        }
    }




</script>
</html>