<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>底部导航栏</title>
</head>
<script th:src="@{/layui/layui.js}"></script>
<link rel="stylesheet"  th:href="@{/layui/css/layui.css}"/>
<style>
    li{list-style-type: none}
</style>
<body style="background-color: #2E2D3C">
<div style="width: 100%;height: 400px;background-color: #2E2D3C">
    <div style="width: 50%;height: 400px;margin: 0 auto;">
        <div style="width: 100px;height: 300px;margin-top: 60px;float: left;margin-left: 50px;text-align: center">
            <li class="layui-icon layui-icon-rate-solid" style="font-family: 'Adobe 宋体 Std L';font-size: 18px;color: white">&nbsp;解决方案</li><br>
            <li><a href="" style="font-size: 15px;color: white">资产管理系统</a></li><br>
            <li><a href="" style="font-size: 15px;color: white">OA办公系统</a> </li>
        </div>
        <div style="width: 100px;height: 300px;margin-top: 60px;float: left;margin-left: 50px;text-align: center">
            <li class="layui-icon layui-icon-rate-solid" style="font-family: 'Adobe 宋体 Std L';font-size: 18px;color: white">&nbsp;关于公司</li><br>
            <li><a href="" style="font-size: 15px;color: white">公司简介</a></li><br>
            <li><a href="" style="font-size: 15px;color: white">人才招聘</a> </li><br>
            <li><a href="" style="font-size: 15px;color: white">关于我们</a> </li>
        </div>
        <div style="width: 100px;height: 300px;margin-top: 60px;float: left;margin-left: 50px;text-align: center">
            <li class="layui-icon layui-icon-rate-solid" style="font-family: 'Adobe 宋体 Std L';font-size: 18px;color: white">&nbsp;其他</li><br>
            <li><a href="" style="font-size: 15px;color: white">新闻动态</a></li><br>

        </div>
        <div style="width: 1px;height: 250px;background:white;float: left;margin-left: 50px;margin-top: 30px"></div>
        <div style="width: 300px;height: 300px;margin-top: 60px;float: left;margin-left: 60px;">
            <li style="font-size: 18px;font-family: 'Adobe 黑体 Std R';color: white">银信（成都）金融服务外包有限公司</li><br>
            <li style="font-size: 15px;color: white">地址：</li><br>
            <li style="font-size: 15px;color: white">电话：</li><br>
            <li style="font-size: 15px;color: white">传真：</li>
        </div>
    </div>
</div>
</body>
</html>