<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>后台管理页面-添加公司简介文字内容和公司成立背景内容</title>
</head>
<script th:src="@{/jquery/jquery-3.0.0/jquery-3.0.0.js}"></script>
<body>
<div style="font-size: 30px;width: 300px;height: 100px;margin: 0 auto">添加文字内容</div>
<div style="margin: 0 auto;width: 800px">
    <div style="height: 60px;width: 200px;font-size: 20px;color: blue">公司介绍文字添加</div>
<form th:action="@{/host/addCharactor}" method="post">
    输入文字 ：<textarea type="text" name="text" style="display: block;width: 500px;height: 400px"></textarea><br>
    <div style="height: 100px"></div>
    <input type="hidden" name="text_distinction" value="text_gaikuang"><br>
    <div style="height: 100px"></div>
    <input type="submit" value="上传">
</form>
</div>
<div style="font-size: 30px;width: 300px;height: 100px;margin: 0 auto">添加背景内容</div>
<div style="margin: 0 auto;width: 800px">
    <form th:action="@{/host/addCharactor}" method="post">
        输入文字 ：<textarea type="text" name="text" style="display: block;width: 500px;height: 400px"></textarea><br>
        <div style="height: 100px"></div>
        <input type="hidden" name="text_distinction" value="text_beijing"><br>
        <div style="height: 100px"></div>
        <input type="submit" value="上传">
    </form>
</div>

</body>

</html>